* {
  font-family: Arial;
}

h3 {
  margin-left: 5%;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.Selected {
  border-bottom: 1px solid #9b111e;
}

.Loading {
  margin-top: 80px;
  margin-left: 50%;
}